<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Add this line for INTERNET permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TransportOffline"
        tools:targetApi="31">

        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TransportOffline">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TransportOffline" />

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/settings_activity_label"
            android:theme="@style/Theme.TransportOffline" />

        <activity
            android:name=".UpdateDatabaseActivity"
            android:exported="true"
            android:label="@string/update_database_activity_label"
            android:theme="@style/Theme.TransportOffline" />

        <activity
            android:name=".LoggingActivity"
            android:exported="true"
            android:label="@string/logging_activity_label"
            android:theme="@style/Theme.TransportOffline" />

        <activity
            android:name=".ConfigureLoggingActivity"
            android:exported="true"
            android:label="@string/configure_logging_activity_label"
            android:theme="@style/Theme.TransportOffline" />
    </application>
</manifest>
